.top-calendar,
.main-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

#calendar li,
#nome-mese {
    text-transform: capitalize;
}

#calendar li {
    border: 1px solid black;
    list-style: none;
    width: 200px;
    height: 50px;
}

.festivo {
    color: red;
}

.btn-navigation {
     padding: 5px 20px;
     border-radius: 5px;
     background-color: purple;
     color: white;
     border: none;
     cursor: pointer;
}

.btn-navigation:disabled{
     background-color: #efefef;
     cursor: not-allowed;
}
